<div class="page-header-container">
  <!-- Bottone Back -->
  <div class="header-left">
    <button class="icon-btn" matTooltip="Torna indietro" (click)="goBack()">
      <i class="fa fa-arrow-left"></i>
    </button>
  </div>

  <!-- Titolo centrato -->
  <div class="header-center">
    <h2>{{ title }}</h2>
  </div>

  <!-- Bottoni azione -->
  <div class="header-right">
    <button
      *ngFor="let btn of buttons"
      class="icon-btn"
      [ngClass]="btn.color || 'btn-primary'"
      matTooltip="{{ btn.label }}"
      (click)="btn.action()"
    >
      <i [class]="btn.icon"></i>
    </button>
  </div>
</div>
