<!--PASSWORD DIMENTICATA-->
<div class="change-password">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">

                <div class="row">
                  <div class="col-md-6 d-flex pr-4">
                    <!--ILLUSTRAZIONE BACKGROUND-->
                    <img class="full-width" style="display:table-cell"
                      src="../../../assets/img/backgrounds/change-password.svg" />
                  </div>

                  <div class="col-md-6">
                    <!--LOGO-->
                    <div class="logo text-center">
                      <h4><b>---</b></h4>
                      <p>Primo accesso</p>
                    </div>

                    <!--VECCHIA PASSWORD-->
                    <mat-form-field>
                      <mat-label>Vecchia password</mat-label>
                      <input id="oldPassword" type="password" required matInput formControlName="oldPassword"
                        [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
                      <i matPrefix class="fa fa-unlock"></i>
                    </mat-form-field>
                    <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.oldPassword.errors.required">Vecchia password
                      </div>
                    </div>

                    <!--NUOVA PASSWORD-->
                    <mat-form-field>
                      <mat-label>Nuova password</mat-label>
                      <input id="newPassword" type="password" required matInput formControlName="newPassword"
                        [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                      <i matPrefix class="fa fa-lock"></i>
                    </mat-form-field>
                    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.newPassword.errors.required">Nuova password
                      </div>
                    </div>

                    <!--CONFERMA PASSWORD-->
                    <mat-form-field>
                      <mat-label>Conferma password</mat-label>
                      <input id="confirmPassword" type="password" required matInput formControlName="confirmPassword"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                      <i matPrefix class="fa fa-lock"></i>
                    </mat-form-field>
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">
                        Conferma password</div>
                    </div>

                    <div class="row">
                      <div class="col-12 mt-3">
                        <!--INVIA-->
                        <button [disabled]="changeForm?.invalid" type="submit" class="btn btn-primary btn-block px-4">
                          Invia
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
