<app-page-header [title]="'Aggiungi/Modfica Tabella Iva'" [buttons]="buttons" backRoute="/tables/list-vats">
</app-page-header>
<form [formGroup]="vatForm" *ngIf="vatForm">

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Codice</mat-label>
                    <input matInput required formControlName="code" [(ngModel)]="vat.Code" />
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Descrizione</mat-label>
                    <input matInput required formControlName="description" [(ngModel)]="vat.Description" />
                </mat-form-field>
            </div>

             <div class="col-lg-3 col-md-3 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Aliquota</mat-label>
                    <input type="number" matInput required formControlName="percentage" [(ngModel)]="vat.Percentage" [readonly]="!editPercentage"/>
                     <mat-hint class="editpercentage" *ngIf="!editPercentage" aria-live="polite" >
                        Non disponi dell'Autorizzazione per modificare questo campo
                    </mat-hint>
                </mat-form-field>
               
            </div>
        </div>
        

      
    </div>
</form>