<!-- <eqp-sidebar #sidebar="eqpSidebar" class="d-print-none sidebar sidebar-fixed" id="sidebar" visible>
  <eqp-sidebar-brand [brandFull]="{
      src: 'assets/img/brand/logo-white.png',
      width: 200,
      height: 46,
      alt: 'Logo'
    }" [brandNarrow]="{
      src: 'assets/img/brand/logo-white.png',
      width: 46,
      height: 46,
      alt: 'Icona Logo'
    }" routerLink="./">
  </eqp-sidebar-brand>
  
  <eqp-sidebar-nav [navItems]="navItems" >
  </eqp-sidebar-nav>

  <eqp-sidebar-toggler *ngIf="!sidebar.narrow" toggle="unfoldable" eqpSidebarToggle="sidebar"></eqp-sidebar-toggler>
</eqp-sidebar> -->

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
   
  <!--app-header-->
  <!-- Workaround Andrea: Di Default, il tema ha impostato lo z-index a 1029, abbasso a 999 così che non vada in conflitto con Material(default 1000) -->


  <div class="header-wrapper">
   <app-default-header *ngIf="loaded" class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar"
    [manageableRoles]="manageableRoles"
    [hashedRoles]="hashedRoles"
    [currentUser]="currentUser" [notificationList]="notificationList" [notificationCount]="notificationCount"
    (readNotificationEvent)="readNotification($event)" (goToNotificationListEvent)="goToNotificationList()"
    (selectedRoleEvent)="onSelectedRole($event)">
  </app-default-header>
 <app-topbar *ngIf="loadedMenu"
  [navItems]="navItems"
  [activeItem]="activeItem"
  (itemSelected)="navigate($event)">
</app-topbar>
</div>
 
  <!--app-body-->


  <div class="body flex-grow-1 px-3">
    <eqp-container class="h-auto" [fluid]="true">
      <router-outlet></router-outlet>
    </eqp-container>
  </div>
  <!--app footer-->
  <app-default-footer></app-default-footer>
</div>
