// Tema EQP
@import "eqp-theme";

//Old bootstrap
@import "bootstrap4_old";

/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout of coreui.
@import "node_modules/@eqproject/eqp-ui/styles/_eqpui.scss";

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";


html,
body {
   margin: 0;
  height: 100%;
}

:root {
  --header-height: 400px;
}


 // Override globale di tutti i mat-slide-toggle
.mat-mdc-slide-toggle {
  --mdc-switch-unselected-track-color: #f44336 !important;
  --mdc-switch-unselected-handle-color: #f44336 !important;
  --mdc-switch-selected-track-color: #4caf50 !important;
  --mdc-switch-selected-handle-color: #4caf50 !important;

  --mdc-switch-selected-hover-track-color: #4caf50 !important;
  --mdc-switch-selected-hover-handle-color: #4caf50 !important;
  --mdc-switch-unselected-hover-track-color: #f44336 !important;
  --mdc-switch-unselected-hover-handle-color: #f44336 !important;

  --mdc-switch-selected-focus-track-color: #4caf50 !important;
  --mdc-switch-selected-focus-handle-color: #4caf50 !important;
  --mdc-switch-unselected-focus-track-color: #f44336 !important;
  --mdc-switch-unselected-focus-handle-color: #f44336 !important;

  --mdc-switch-selected-pressed-track-color: #4caf50 !important;
  --mdc-switch-selected-pressed-handle-color: #4caf50 !important;
  --mdc-switch-unselected-pressed-track-color: #f44336 !important;
  --mdc-switch-unselected-pressed-handle-color: #f44336 !important;

  transition: all 0.3s ease;
}

.mat-mdc-slide-toggle .mdc-switch__track {
  background-color: var(--mdc-switch-unselected-track-color) !important;
  transition: background-color 0.3s ease;
}


::ng-deep .cdk-overlay-container {
  z-index: 4000 !important; /* sopra header, topbar e page-header */
}