// Tema EQP
@import "eqp-theme";

//Old bootstrap
@import "bootstrap4_old";

/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout of coreui.
@import "node_modules/@eqproject/eqp-ui/styles/_eqpui.scss";

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";


html,
body {
  height: 100%;
}

body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}


 
 mat-mdc-slide-toggle {
  --mdc-switch-selected-track-color: #4caf50 !important;     /* Verde ON */
  --mdc-switch-selected-handle-color: #4caf50 !important;
  --mdc-switch-unselected-track-color: #f44336 !important;   /* Rosso OFF */
  --mdc-switch-unselected-handle-color: #f44336 !important;
  transition: all 0.3s ease; /* Aggiunge una transizione morbida */
}

.mat-mdc-slide-toggle .mdc-switch__track {
  transition: background-color 0.3s ease;
}


